.navbar-nav .nav-link {
    color: white !important;
    transition: 0.3s;
    font-family: "Amatic SC", cursive;
    font-size: 1.5rem;
}

.navbar-nav .nav-link:hover {
    color: #0a322c !important;
    background-color: white !important;
    border-radius: 5px;
}

.hero {
    background-image: url("../../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    margin-top: 80px;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-family: "Amatic SC", cursive;
    font-size: 4rem;
    font-weight: 400;

}

.hero p {
    font-family: "Raleway";
}


.hero-content {
    position: relative;
    z-index: 2;
}

.hero-logo {
    max-width: 180px;
}

.titulo-carrusel-general {
    text-align: center;
    color: white;
    margin-bottom: 15px;
    font-size: 2.2rem;
    font-family: "Amatic SC", cursive;
    text-shadow: 2px 2px 6px black;
}

.carousel-inner {
    background: #0a322c;
    padding-top: 40px;
}

.carousel-caption {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.3rem;
}

figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.btn-primary {
    background-color: #0a322c !important;
    border-color: #0a322c !important;
    color: #fff !important;
    font-family: "Raleway";
}

.btn-primary:hover {
    background-color: #eab034 !important;
    border-color: #eab034 !important;
    color: #0a322c !important;

}

.card-personalizada {
    max-width: 550px !important;
    width: 100%;
    border-radius: 12px;
    border: none;

}

.card-header {
    border-top: none !important;
    background-color: #0a322c !important;
    border-color: #0a322c !important;
    color: #fff !important;
    font-family: "Raleway";


}

.card-title {
    font-family: "Amatic SC", cursive;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    text-align: center;
    margin: 0;
    width: 100%;
}



.text-primary-custom {
    color: #eab034 !important;
    font-family: "Raleway";
}

.text-primary-custom:hover {
    color: #0a322c !important;
}

.card.card-primary .card-body,
.card.card-primary .card-body *,
.card-primary .form-group label,
.card-primary .form-control,
.card-primary .input-group-text {
    font-family: "Raleway" !important;
    font-weight: 400;
}


@media (max-width: 768px) {
    .display-4 {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    .hero-logo {
        max-width: 100px;
    }
}